proceedings/ictt2014_proceedings.pdf
proceedings/*.aux
proceedings/*.gz
proceedings/*.log
proceedings/*.dvi
proceedings/*.bbl
proceedings/*.blg
proceedings/*.ps
proceedings/*.nav
proceedings/*.snm
proceedings/*.toc
proceedings/*.out
proceedings/*.npc
proceedings/*.idx
proceedings/*.ilg
proceedings/*.ind
proceedings/*.pdftk
proceedings/*.nps